body {
	margin: 0;
	padding: 0;
	background-color: #eee;
	font-family: 'Arvo', serif;
}

#container {
	margin-top:	60px;
	min-width: 500px;
	text-align:center;
}

h1, h2, h3, h4 { font-family: 'Lily Script One', cursive; }

h1 {
	color: #FF4500;
	font-size: 40px;
	text-align: center;
	margin: 0 0 25px;
	text-shadow: 1px 1px 0 #424242;
}

#game {
	background: url(http://aryehshai.com/assets/web/diagram.png) no-repeat  center center;
	background-position: 0 0;
	width: 460px;
	height: 452px;
	margin: 0 auto;
	position: relative;
}

span.again {
	margin: 25px 0 10px;
	display: block;
	color: #FF4500;
	cursor: pointer;
	font-family: 'Lily Script One', cursive;
}
span.again:hover {
	color: #777;
}

.rules {
	 background-position: 0 -452px !important;
}

.choice {
	background: rgba(202, 202, 202, 0.0);
	width: 145px;
	height: 145px;
	border-radius: 100%;
	position: absolute;
	cursor: pointer;
	-webkit-user-select: none; 
}

.choice span {
	position: relative;
	opacity: 0;
	color: #222;
	font-size: 13px;
	font-weight: 700;
}

.draw {
	background: rgba(13, 167, 253, 0.5);
}

.lose {
	background: rgba(253, 13, 13, 0.5);
}

.win {
	background: rgba(31, 255, 0, 0.5);
}

#info {
	position: absolute;
	height: 60px;
	width: 150px;
	top: 50%;
	left: 50%;
	margin: -30px 0 0 -75px;
	color: #333;
}

#info h3 {
	font-size: 26px;
	font-weight: normal;
	color: #F00;
	margin: 0;
}
#info p {
	font-family: 'Arvo', serif;
	font-size: 17px;
	font-weight: 700;
	text-align: center;
	color: #FF4500;
	margin: 0;
}

/* Position .choices */
#rock {	top: 302px;	left: 259px; }
#paper { top: 111px; left: 315px; }
#scissors {	top: 0; left: 153px; }
#lizard { top: 307px; left: 62px; }
#spock { top: 116px; left: 0; }

/* .choice Names */
#rock span { top: 65px;	left: 0px; }
#paper span { top: 75px; left: -14px; }
#scissors span { top: 82px; left: -14px; }
#lizard span { top: 77px; left: -12px; }
#spock span { top: 65px; left: 0px; }

@media screen and (max-width: 600px) {
	h1 {
		font-size: 32px;
	}
}