/* CSS Document */

/*************/
/*   body    */
/*************/
body
{
	margin 		: auto;
	padding 	: 0px;	
	font-family : Arial, Helvetica, sans-serif;	
	background: #EFEEEE;
	
}
.connection
{
	top 		: 100px;
	width 		: 50px;
	left		: 40px;
	height 		: 320px;
	position	: fixed;
}
.connection img
{
	float : left;
	max-width:100%;
}
/***********************/
/*   Main Container    */
/***********************/	
div#mainContainer
{	
	margin-bottom		: 20px;
	margin				: 0 auto;
	padding 			: 0px;
	width 				: 70%;
	min-height			: 550px;
	height				: 0 auto;
	background  		: #000;
	color				: #FFF;
	position			: relative;
}

/***************/
/*   Banner    */
/***************/
div#banner
{
	margin 			: 0px auto;
	padding 		: 0px;
	width 			: 100%;
	height 			: 150px;
	margin-bottom 	: 0px;	
	background		: #191919;
	color			: #000;	
}
#banner img
{
    width: 100%;
    height: 150px;
}




/***************/
/*   Nav Bar   */
/***************/
nav.conNav
{
	margin : 0 auto;
	width: 70%;
	height: 58px;	
	font-family : Arial, Helvetica, sans-serif;
}

nav.mainNav
{
	margin 					: 0 auto;
	margin-top				: -10px;
	top						: 10px;	
	background				: -moz-linear-gradient(#999, #868686);
    background				: -ms-linear-gradient(#999, #868686);
    background				: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #999), color-stop(100%, #868686));
    background				: -webkit-linear-gradient(#999, #868686);
    background				: -o-linear-gradient(#999, #868686);
    background				: linear-gradient(#999, #868686);
	width					: 70%;			      
	position				: fixed ;
	z-index					: 10000;
}

.menu, .menu ul {
    list-style	: none;
    padding		: 0;
    margin		: 0px auto;
}
.menu {
    height: 58px;
}
.menu li {
    background	: -moz-linear-gradient(#999, #868686);
    background	: -ms-linear-gradient(#999, #868686);
    background	: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #999), color-stop(100%, #868686));
    background	: -webkit-linear-gradient(#999, #868686);
    background	: -o-linear-gradient(#999, #868686);
    background	: linear-gradient(#999, #868686);
    min-width	: 150px;
}
.menu > li {
    display: block;
    float: left;
    position: relative;
}

.menu a {
    border-left: 3px solid rgba(0, 0, 0, 0);
    color: #000;
    display: block;
    font-weight: bold;
    font-size: 15px;
    line-height: 54px;
    padding: 0 25px;
    text-decoration: none;
    text-transform: uppercase;
}

.menu li:hover > a {
    border-radius: 5px 0 0 0;
    border-left: 3px solid #C4302B;
    color: #C4302B;
}
/* submenu styles */
.submenu {
    left: 0;
    max-height: 0;
    position: absolute;
    top: 100%;
    
    z-index: 0;

    -webkit-perspective: 400px;
    -moz-perspective: 400px;
    -ms-perspective: 400px;
    -o-perspective: 400px;
    perspective: 400px;
}
.submenu li {
    opacity: 0;
    font-size: 10px;
    min-width	: 200px;

    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    transform: rotateY(90deg);

    -webkit-transition: opacity .4s, -webkit-transform .5s;
    -moz-transition: opacity .4s, -moz-transform .5s;
    -ms-transition: opacity .4s, -ms-transform .5s;
    -o-transition: opacity .4s, -o-transform .5s;
    transition: opacity .4s, transform .5s;
}
.menu .submenu li:hover a {
    border-left: 3px solid #C4302B;
    border-radius: 0;
    color: #ffffff;

}
.menu > li:hover .submenu, .menu > li:focus .submenu {
    max-height: 2000px;
    z-index: 10;
}
.menu > li:hover .submenu li, .menu > li:focus .submenu li {
    opacity: 1;

    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}
/* CSS3 delays for transition effects */
.menu li:hover .submenu li:nth-child(1) {
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}
.menu li:hover .submenu li:nth-child(2) {
    -webkit-transition-delay: 50ms;
    -moz-transition-delay: 50ms;
    -ms-transition-delay: 50ms;
    -o-transition-delay: 50ms;
    transition-delay: 50ms;
}
.menu li:hover .submenu li:nth-child(3) {
    -webkit-transition-delay: 100ms;
    -moz-transition-delay: 100ms;
    -ms-transition-delay: 100ms;
    -o-transition-delay: 100ms;
    transition-delay: 100ms;
}
.menu li:hover .submenu li:nth-child(4) {
    -webkit-transition-delay: 150ms;
    -moz-transition-delay: 150ms;
    -ms-transition-delay: 150ms;
    -o-transition-delay: 150ms;
    transition-delay: 150ms;
}
.menu li:hover .submenu li:nth-child(5) {
    -webkit-transition-delay: 200ms;
    -moz-transition-delay: 200ms;
    -ms-transition-delay: 200ms;
    -o-transition-delay: 200ms;
    transition-delay: 200ms;
}
.menu li:hover .submenu li:nth-child(6) {
    -webkit-transition-delay: 250ms;
    -moz-transition-delay: 250ms;
    -ms-transition-delay: 250ms;
    -o-transition-delay: 250ms;
    transition-delay: 250ms;
}
.menu li:hover .submenu li:nth-child(7) {
    -webkit-transition-delay: 300ms;
    -moz-transition-delay: 300ms;
    -ms-transition-delay: 300ms;
    -o-transition-delay: 300ms;
    transition-delay: 300ms;
}
.menu li:hover .submenu li:nth-child(8) {
    -webkit-transition-delay: 350ms;
    -moz-transition-delay: 350ms;
    -ms-transition-delay: 350ms;
    -o-transition-delay: 350ms;
    transition-delay: 350ms;
}

.submenu li:nth-child(1) {
    -webkit-transition-delay: 350ms;
    -moz-transition-delay: 350ms;
    -ms-transition-delay: 350ms;
    -o-transition-delay: 350ms;
    transition-delay: 350ms;
}
.submenu li:nth-child(2) {
    -webkit-transition-delay: 300ms;
    -moz-transition-delay: 300ms;
    -ms-transition-delay: 300ms;
    -o-transition-delay: 300ms;
    transition-delay: 300ms;
}
.submenu li:nth-child(3) {
    -webkit-transition-delay: 250ms;
    -moz-transition-delay: 250ms;
    -ms-transition-delay: 250ms;
    -o-transition-delay: 250ms;
    transition-delay: 250ms;
}
.submenu li:nth-child(4) {
    -webkit-transition-delay: 200ms;
    -moz-transition-delay: 200ms;
    -ms-transition-delay: 200ms;
    -o-transition-delay: 200ms;
    transition-delay: 200ms;
}
.submenu li:nth-child(5) {
    -webkit-transition-delay: 150ms;
    -moz-transition-delay: 150ms;
    -ms-transition-delay: 150ms;
    -o-transition-delay: 150ms;
    transition-delay: 150ms;
}
.submenu li:nth-child(6) {
    -webkit-transition-delay: 100ms;
    -moz-transition-delay: 100ms;
    -ms-transition-delay: 100ms;
    -o-transition-delay: 100ms;
    transition-delay: 100ms;
}
.submenu li:nth-child(7) {
    -webkit-transition-delay: 50ms;
    -moz-transition-delay: 50ms;
    -ms-transition-delay: 50ms;
    -o-transition-delay: 50ms;
    transition-delay: 50ms;
}
.submenu li:nth-child(8) {
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}

/*slider frame*/
#sliderFrame 
{
    width:90%;
    padding:45px;
    background:#000;
} 

#slider, #slider div.sliderInner
 {
    width:700px;
	height:306px;/* Must be the same size as the slider images */
	
}

#slider
 {
	position:relative;
	margin:0 auto; /*center-aligned*/
    transform: translate3d(0,0,0);
	
}

/* the link style (if an image is wrapped in a link) */
#slider a.imgLink, #slider .video
 {
	z-index:2;
	position:absolute;
	top:0px;
	left:0px;
	border:0;
	padding:0;
	margin:0;
	width:100%;
	height:100%;
	
}


/* Caption styles */
#slider div.mc-caption-bg, #slider div.mc-caption-bg2
 {
	position:absolute;
	width:400px;
	height:auto;
	padding:10px 0;
	left: 100px; /*if the caption needs to be aligned from right, specify by right instead of left. i.e. right:20px;*/
	bottom: -40px;/*if the caption needs to be aligned from top, specify by top instead of bottom. i.e. top:150px;*/
	z-index:3;
	overflow:hidden;
	font-size:0;
}
#slider div.mc-caption-bg 
{
    /* NOTE: Its opacity, when background is not transparent, is to be set through the sliderOptions.captionOpacity setting in the js-image-slider.js file.*/
	background:transparent;/* or any other colors such as White, or: background:none; */
}
#slider div.mc-caption-bg2
 {
    background:none;
}
#slider div.mc-caption
{
	font:bold 13px/16px Arial;
	color:#ccc;
	z-index:4;
	text-align:center;
    background:none;
}
#slider div.mc-caption a
{ 
	color:#66FFFF;
}


/* ------ built-in navigation bullets wrapper that is relative to the #slider ------*/
#slider div.navBulletsWrapper
{
	display:none;
}

/* --------- Others ------- */

#slider div.loading 
{
    width:100%;
	height:100%;
    background:transparent url(loading.gif) no-repeat 50% 50%;
    filter: alpha(opacity=60);
    opacity:0.6;
    position:absolute;
    left:0;
    top:0; 
    z-index:9;
}

#slider img, #slider>b, #slider a>b {
	position:absolute;
	border:none; 
	display:none;
}

#slider div.sliderInner {
	overflow:hidden; 
	-webkit-transform: rotate(0.000001deg);/* fixed the Chrome not crop border-radius bug*/
	position:absolute;
	top:0; 
	left:0;
}

#slider>a, #slider video, #slider audio {display:none;}


/* -- thumbnails -- */
#thumbs 
{
    margin-top:50px;
    text-align:center;
    font-size:0;
}
#thumbs .thumb 
{
	display:inline-block;
    *display:inline;zoom:1;/*IE6, IE7 hack*/
    margin:0 1px;/*this determins the distance between each thumbnail*/
    border:1px solid #333;
    padding:4px;
    background:black;
}

#thumbs .thumb img
{
	border:1px solid #555;
	cursor:pointer;
	width:70px;
	height:44px;
	opacity:0.5;
	filter:alpha(opacity=50);
}
#thumbs .thumb-on img
{
	border:1px solid #999;
	opacity:1;
	filter:alpha(opacity=100);
}

#contentContainerOne
{
	height	: auto;
	width	: 200px;
	margin-left	: 10px;
	border	:1px solid #CCC;
	background	: #000;
	padding	: 2px;


}

#contentTitleOne
{
	height	: auto;
	width	: 100%;
	text-align	: center;
	
}
#contentImageOne
{
	height	: auto;
	width	: 100%;
}
#contentTextOne
{
	height	: auto;
	width	: 100%;
	text-align	: justify;

	
}
#contentContainerTwo
{
	height	: auto;
	width	: 200px;
	margin-top	: -325px;
	margin-left	: 250px;
	border	:1px solid #CCC;
	background	: #000;
	padding	: 2px;


}
#contentTitleTwo
{
	height	: auto;
	width	: 100%;
	text-align	: center;
	
}
#contentImageTwo
{
	height	: auto;
	width	: 100%;
}
#contentTextTwo
{
	height	: auto;
	width	: 100%;
	text-align	: justify;

	
}
#contentContainerThree
{
	height	: auto;
	width	: 200px;
	margin-top	: -325px;
	margin-left	: 490px;
	border	:1px solid #CCC;
	background	: #000;
	padding	: 2px;
	-webkit-box-shadow	: 0 8px 6px -6px #000;
	-moz-box-shadow		: 0 8px 6px -6px #000;
	-o-box-shadow		: 0 8px 6px -6px #000;
	-ms-box-shadow		: 0 8px 6px -6px #000;
	box-shadow			: 0 8px 6px -6px #000;

}

#contentTitleThree
{
	height	: auto;
	width	: 100%;
	text-align	: center;
	
}
#contentImageThree
{
	height	: auto;
	width	: 100%;
}
#contentTextThree
{
	height	: auto;
	width	: 100%;
	text-align	: justify;

	
}
#twitterContainer
{
	margin-top	: -330px;
	margin-left	: 730px;
	height	: auto;
	width	: 200px;

}
.content Img
{
	Width	: 100%;
	height	: 150px;

}
#contentHome
{
	height		: auto;
	margin-top	: auto;
	width		: 100%;


}
#contentContainerFour
{
	height		: 450px;
	width		: 100%;
	border-top	: 3px solid #CCC;
}

#middleContentOne
{
	
	margin-left	: 10px;
	margin-top	: 10px;
	margin-bottom	: 30px;
	
}
#middleContentOneText
{
	margin-top		: -180px;
	margin-left		: 340px;
	width 			: 60%;
	height 			: 30%;
	margin-bottom	: 30px;
	
}
.homeImages
{
	width 			: 301px;
	height 			: 162px;
	border-style	: solid;
	border-width	: 2px;
	border-top-left-radius  : 25px;
	border-top-right-radius : 25px;
	-webkit-box-shadow 	: #666 10px 10px 15px;
    -moz-box-shadow    	: #666 10px 10px 15px;
    -ms-box-shadow    	: #666 10px 10px 15px;
    -o-box-shadow    	: #666 10px 10px 15px;
    box-shadow         	: #666 10px 10px 15px;
	-webkit-transition 	: 0.5s;
	-moz-transition 	: 0.5s;
	-ms-transition 		: 0.5s;
	-o-transition 		: 0.5s;
	transition 			: 0.5s;	
}
#middleContentOne img:hover
{
	-webkit-transform	:scale(1.1);
	-moz-transform		:scale(1.1);
	-ms-transform		:scale(1.1);
	-o-transform		:scale(1.1);
	transform			:scale(1.1);
}
#middleContentTwo
{
	
	margin-left	: 10px;
	margin-top	: 10px;
	margin-bottom	: 20px;
	
}
#middleContentTwoText
{
	margin-top		: -170px;
	margin-left		: 340px;
	width 			: 60%;
	height 			: 30%;
	margin-bottom	: 70px;
	
}
#middleContentTwo img:hover
{
	-webkit-transform	:scale(1.1);
	-moz-transform		:scale(1.1);
	-ms-transform		:scale(1.1);
	-o-transform		:scale(1.1);
	transform			:scale(1.1);
}
.homeContentText
{
	width 			: 100%;
	height 			: 100%;
	background		: #FFF;
	padding-left	: 5px;
	padding-right	: 5px;
	border-top-left-radius  : 25px;
	border-top-right-radius : 25px;
	-webkit-box-shadow 	: #666 10px 10px 15px;
    -moz-box-shadow    	: #666 10px 10px 15px;
    -ms-box-shadow    	: #666 10px 10px 15px;
    -o-box-shadow    	: #666 10px 10px 15px;
    box-shadow         	: #666 10px 10px 15px;
 
}
#ret {
	color			: #000;
	font-size		: 22px;
	font-family		: Garamond, Baskerville, “Baskerville Old Face”, “Hoefler Text”, “Times New Roman”;
	letter-spacing	: 1px;
	text-align		: center;
	margin-top		: -15px;
	margin-bottom	: 10px;
	
	
}
#ret2  {
	color			: #000;
	font-size		: 18px;
	font-family		: Garamond, Baskerville, “Baskerville Old Face”, “Hoefler Text”, “Times New Roman”;
	letter-spacing	: 1px;
	text-align		: justify;
	margin-top		: auto;
	margin-bottom	: 5px;
	
}
#ret3 {
	color			: #000;
	font-size		: 16px;
	font-family		: Garamond, Baskerville, “Baskerville Old Face”, “Hoefler Text”, “Times New Roman”;
	letter-spacing	: 1px;
	text-align		: justify;
	margin-top		: auto;
	margin-bottom	: 5px;
	
}
#contentTwo
{
	margin-top		: 30px;
	margin-left		: 50px;
	width 			: 50%;
	height 			: 40%;
	margin-bottom	: 70px;
	
}
#contentTwoText
{
	margin-top		: -195px;
	margin-left		: 380px;
	width 			: 55%;
	height 			: 30%;
	margin-bottom	: 70px;
	
}
#contentTwo img:hover
{
	-webkit-transform	:scale(1.1);
	-moz-transform		:scale(1.1);
	-ms-transform		:scale(1.1);
	-o-transform		:scale(1.1);
	transform			:scale(1.1);
}
#contentThree
{
	margin-top		: 30px;
	margin-left		: 50px;
	width 			: 50%;
	height 			: 40%;
	margin-bottom	: 70px;
	
}
#contentThreeText
{
	margin-top		: -195px;
	margin-left		: 380px;
	width 			: 55%;
	height 			: 30%;
	margin-bottom	: 70px;
	
}
#contentThree img:hover
{
	-webkit-transform	:scale(1.1);
	-moz-transform		:scale(1.1);
	-ms-transform		:scale(1.1);
	-o-transform		:scale(1.1);
	transform			:scale(1.1);
}


/***************/
/*   Footer    */
/***************/
#footer
{
	margin				: 0 auto;
	width				: 70%;
	padding 			: 0 auto;
	min-height			: 180px;
	height				: auto;
	background			: #818183; 
	padding-top 		: 20px;
	padding-bottom 		: 20px;
	font-size 			: 14px;	
	color 				: #FFF;
	-webkit-box-shadow  : inset 0 1px 3px rgba(0, 0, 0, 0.25), 0 5px 0 rgba(255, 255, 255, 0.25);
	-moz-box-shadow 	: inset 0 1px 3px rgba(0, 0, 0, 0.25), 0 5px 0 rgba(255, 255, 255, 0.25);
	-o-box-shadow 		: inset 0 1px 3px rgba(0, 0, 0, 0.25), 0 5px 0 rgba(255, 255, 255, 0.25);
	-ms-box-shadow 		: inset 0 1px 3px rgba(0, 0, 0, 0.25), 0 5px 0 rgba(255, 255, 255, 0.25);
	box-shadow 			: inset 0 1px 3px rgba(0, 0, 0, 0.25), 0 5px 0 rgba(255, 255, 255, 0.25);
}
#footer img
{
	width           : 30%;
	margin			: 10px auto;
    height          : 180px;
    display         : block; 
	float           : right; 
    position        : relative;

}
#footer a
{
	text-decoration : none;
	color: #FFF;
}

#footer li 
{
	padding-left 	: 20px;
	padding-right 	: 10px;
	list-style 		: none;
	text-align 		: left;
	text-decoration : none;

}

.footerNav
{
	margin 			: 0 auto;
	width 			: 150px;
	min-height 		: 50px;
	height			: 0 auto;
	border-right 	: 1px solid #FFF; 
	float 	  	 	: left;
}



#footer5
{
	line-height 	: 5px;
	color 			: #000;
	margin 			: 0 auto;
	background		: -moz-linear-gradient(#999, #868686);
    background		: -ms-linear-gradient(#999, #868686);
    background		: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #999), color-stop(100%, #868686));
    background		: -webkit-linear-gradient(#999, #868686);
    background		: -o-linear-gradient(#999, #868686);
    background		: linear-gradient(#999, #868686);
	height 			: 30px;
	width 			: 70%;
	border-top		: 1px solid #000;
}















































