/* General Style */
body
{
	background:#000;
	opacity:50%;
}

/* Header Style */
.topBar
{
	font-family: Copperplate / Copperplate Gothic Light, sans-serif;
	line-height: 44px;
	font-size: 18px;
	width: 100%;
	background: transparent;;
	z-index: 99;
	position: relative;	
	
}
.topBar a
{
	padding: 0px 10px;
	letter-spacing: 1.5px;
	color: #EEE;
	text-shadow: 1px 1px 1px #053a73;
	display: block;
	float: left;
	text-decoration: none;
	float: right;
}
.topBar a:hover
{
	color: #FF0;
}

.slideshow li span 
{ 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
	-webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 11s linear;
    -moz-animation: imageAnimation 11s linear;
    -o-animation: imageAnimation 11s linear;
    -ms-animation: imageAnimation 11s linear;
    animation: imageAnimation 11s linear; 
}
.slideshow li two 
{ 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 1;
	-webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation2 11s linear;
    -moz-animation: imageAnimation2 11s linear;
    -o-animation: imageAnimation2 11s linear;
    -ms-animation: imageAnimation2 11s linear;
    animation: imageAnimation2 11s linear; 
}

.slideshow li Three 
{ 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 22px;
    left: 0px;
    color: transparent;
    background-size: 100% 100%;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 2;
	-webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation3 11s linear;
    -moz-animation: imageAnimation3 11s linear;
    -o-animation: imageAnimation3 11s linear;
    -ms-animation: imageAnimation3 11s linear;
    animation: imageAnimation3 11s linear; 
}

.slideshow li four 
{ 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 22px;
    left: 0px;
    color: transparent;
    background-size: 100% 100%;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 2;
	-webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation4 11s linear;
    -moz-animation: imageAnimation4 11s linear;
    -o-animation: imageAnimation4 11s linear;
    -ms-animation: imageAnimation4 11s linear;
    animation: imageAnimation4 11s linear; 
}
.slideshow li div 
{ 
   	z-index: 100;
    position: absolute;
    bottom: 300px;
    left: -50px;
    width: 100%;
	display:block;
	text-transform: capitalize;
	text-shadow:2px 2px #BBB;
    text-align: right;
    opacity: 0;
    -webkit-animation: textAnimation 11s linear;
    -moz-animation: textAnimation 11s linear;
    -o-animation: textAnimation 11s linear;
    -ms-animation: textAnimation 11s linear;
    animation: textAnimation 11s linear;
}
.slideshow li div h3 
{ 
    font-family: Copperplate / Copperplate Gothic Light, sans-serif;
    font-size: 90px;
    padding:   50px;
    line-height: 100px;
    color: #053a73; 	
}
.slideshow li:nth-child(1) span 
{ 
    background-image: url(../images/1.jpg); 
}
.slideshow li:nth-child(2) span 
{ 
    background-image: url(../images/2.jpg);
    -webkit-animation-delay: 4s;
    -moz-animation-delay:4s;
    -o-animation-delay: 4s;
    -ms-animation-delay: 4s;
    animation-delay: 4s; 
}
.slideshow li:nth-child(3) three 
{ 
    background-image: url(../images/4.png);
    -webkit-animation-delay: 7s;
    -moz-animation-delay:7s;
    -o-animation-delay: 7s;
    -ms-animation-delay: 7s;
    animation-delay: 7s; 
}
.slideshow li:nth-child(4) four 
{ 
    background-image: url(../images/1.jpg);
    -webkit-animation-delay: 10s;
    -moz-animation-delay:10s;
    -o-animation-delay: 10s;
    -ms-animation-delay: 10s;
    animation-delay: 10s; 
}

.slideshow li:nth-child(2) div 
{ 
    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
    -o-animation-delay: 3s;
    -ms-animation-delay: 3s;
    animation-delay: 3s; 
}
.slideshow li:nth-child(3) div 
{ 
    -webkit-animation-delay: 6s;;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s; 
}
.slideshow li:nth-child(4) div 
{ 
    -webkit-animation-delay: 10s;;
    -moz-animation-delay: 10s;
    -o-animation-delay: 10s;
    -ms-animation-delay: 10s;
    animation-delay: 10s; 
}

/* Animation for the slideshow images */

@-webkit-keyframes imageAnimation 
{ 
    0% 
	{ 
		opacity: 0;
    	-webkit-animation-timing-function: ease-in; 
	}
    8% 
	{ 
		opacity: 1;
        -webkit-animation-timing-function: ease-out; 
	}
    17% 
	{ 
		opacity: 1;
	}
    25% 
	{ 
		opacity: 0;
	}
    100% 
	{ 
		opacity: 0; 
	}
}
@-o-keyframes imageAnimation 
{ 
    0% 
	{ 
		opacity: 0;
    	-o-animation-timing-function: ease-in; 
	}
    8% 
	{ 
		opacity: 1;
        -o-animation-timing-function: ease-out; 
	}
    17% 
	{ 
		opacity: 1; 
	}
    25% 
	{ 
		opacity: 0; 
	}
    100% 
	{ 
		opacity: 0; 
	}
}
@-ms-keyframes imageAnimation 
{ 
    0% 
	{ 
		opacity: 0;
    	-ms-animation-timing-function: ease-in; 
	}
    8% 
	{ 
		opacity: 1;
        -ms-animation-timing-function: ease-out; 
	}
    17% 
	{ 
		opacity: 1; 
	}
    25% 
	{ 
		opacity: 0; 
	}
    100% 
	{ 
		opacity: 0; 
	}
}
@keyframes imageAnimation 
{ 
    0% 
	{
		opacity: 0;
    	animation-timing-function: ease-in; 
	}
    8% 
	{ 
		opacity: 1;
        animation-timing-function: ease-out; 
	}
    17% 
	{ 
		opacity: 1; 
	}
    25% 
	{ 
		opacity: 0; 
	}
    100% 
	{ 
		opacity: 0; 
	}
}

/* Image Animation # 2 */

@-webkit-keyframes imageAnimation2 
{ 
	0% 
	{
	    opacity: 0;
	    -webkit-animation-timing-function: ease-in-out;
	}
	8% 
	{
	    opacity: 1;
	    -webkit-transform: scale(1);
	    -webkit-animation-timing-function: ease-in-out
	}
	17% 
	{
	    opacity: 1;
	    -webkit-transform: scale(1.3);
	}
	22% 
	{
		opacity: 0;
		-webkit-transform: scale(1.03) translateY(-30%);
	}
	25% 
	{
	    opacity: 0;
	    -webkit-transform: scale(1.3)translateY(-100%);
	}
	100% 
	{ 
		opacity: 0 
	}
}
@-moz-keyframes imageAnimation2 
{ 
	0% 
	{
	    opacity: 0;
	    -moz-animation-timing-function: ease-in-out
	}
	8% 
	{
	    opacity: 1;
	    -moz-transform: scale(1);
	    -moz-animation-timing-function: ease-in-out;
	}
	17% 
	{
	    opacity: 1;
	    -moz-transform: scale(1.3);
	}
	22% 
	{
		opacity: 0;
		-moz-transform: scale(1.03) translateY(-30%);
	}
	25% 
	{
	    opacity: 0;
	    -moz-transform: scale(1.3)translateY(-100%);
	}
	100% 
	{ 
		opacity: 0 
	}
}
@-o-keyframes imageAnimation2 
{ 
	0% 
	{
	    opacity: 0;
	    -o-animation-timing-function: ease-in-out
	}
	8% 
	{
	    opacity: 1;
	    -o-transform: scale(1);
	    -o-animation-timing-function: ease-in-out
	}
	17% 
	{
	    opacity: 1;
	    -o-transform: scale(1.3);
	}
	22% 
	{
		opacity: 0;
		-o-transform:  scale(1.03) translateY(-30%);
	}
	25% 
	{
	    opacity: 0;
	    -o-transform: scale(1.3)translateY(-100%);
	}
	100% 
	{ 
		opacity: 0 
	}
}
@-ms-keyframes imageAnimation2 
{ 
	0% 
	{
	    opacity: 0;
	    -ms-animation-timing-function: ease-in-out
	}
	8% 
	{
	    opacity: 1;
	    -ms-transform: scale(1);
	    -ms-animation-timing-function: ease-in-out
	}
	17% 
	{
	    opacity: 1;
	    -ms-transform: scale(1.3);
	}
	22% 
	{
		opacity: 0;
		-ms-transform:  scale(1.03) translateY(-30%);
	}
	25% 
	{
	    opacity: 0;
	    -ms-transform: scale(1.3)translateY(-100%);
	}
	100% 
	{ 
		opacity: 0 
	}
}
@keyframes imageAnimation2 
{ 
0% 
	{
	    opacity: 0;
	    animation-timing-function: ease-in-out
	}
	8% 
	{
	    opacity: 1;
	    transform: scale(1);
	    animation-timing-function: ease-in-out
	}
	17% 
	{
	    opacity: 1;
	    transform: scale(1.3);
	}
	22% 
	{
		opacity: 0;
		transform:  scale(1.03) translateY(-30%);
	}
	25% 
	{
	    opacity: 0;
	    transform: scale(1.3)translateY(-100%);
	}
	100% 
	{ 
		opacity: 0 
	}
}
       /* End Image Animation #2*/
	   
	   /* Start Image Animation #3 */
	   
@-webkit-keyframes imageAnimation3
{ 
	0%
	 {
	    opacity: 0;
		-webkit-transform: rotate(180deg);
	    -webkit-animation-timing-function: ease-in;
	 }
	8%
	 {
	    opacity: 1;
		-webkit-transform: scale(1.2);
	    -webkit-transform: rotate(360deg);	   
	 }
	17%
     {
	    opacity: 1;
		-webkit-transform:rotate(-180deg);
	    -webkit-transform: scale(1.2);
	 }
	 22%
     {
		opacity: 0;
		-webkit-transform:rotatex (60deg);
		-webkit-transform: scale(1.2);
	    -webkit-animation-timing-function: ease-out;
	 }
	 25%
     {
	    opacity: 0;
		-webkit-transform:rotatex (40deg);
	    -webkit-transform: scale(1.2);
	 }
	 100%
	 {
		 opacity: 0; 
		 -webkit-transform:rotatex (0deg);
	 	-webkit-transform: scale(0.99);
	 }
}
@-moz-keyframes imageAnimation3 
{ 
	0%
	 {
	    opacity: 0;
		-moz-transform: scale(1.2);
		-moz-transform: rotate(180deg);	
	    -moz-animation-timing-function: ease-in;
	 }
	8%
	 {
	    opacity: 1;
		-moz-transform: scale(1.2);
	    -moz-transform: rotate(360deg);	   
	 }
	17%
     {
	    opacity: 1;
		-moz-transform: rotate(-180deg);
	    -moz-transform: scale(1.2);
	 }
	 22%
     {
		opacity: 0;
		-moz-transform: rotateX (60deg);
		-moz-transform: scale(1.2);
	    -moz-animation-timing-function: ease-out;
	 }
	 25%
     {
	    opacity: 0;
		-moz-transform:rotateX (40deg);
	    -moz-transform: scale(1.2);
	 }
	 100%
	 {
		 opacity: 0; 
		 -moz-transform:rotateX (0deg);
	 	 -moz-transform: scale(0.99);
	 }
}
@-o-keyframes imageAnimation3 
{ 
	0%
	 {
	    opacity: 0;
		-o-transform: rotate(180deg);	
	    -o-animation-timing-function: ease-in;
	 }
	8%
	 {
	    opacity: 1;
		-o-transform: scale(1.2);
	    -o-transform: rotate(3600deg);	   
	 }
	17%
     {
	    opacity: 1;
		-o-transform: rotate(-180deg);
	    -o-transform: scale(1.2);
	 }
	 22%
     {
		opacity: 0;
		-o-transform:rotateX (60deg);
		-o-transform: scale(1.2);
	    -o-animation-timing-function: ease-out;
	 }
	 25%
     {
	    opacity: 0;
		-o-transform:rotateX (40deg);
	    -o-transform: scale(1.2);
	 }
	 100%
	 {
		 opacity: 0; 
		 -o-transform:rotateX (0deg);
	 	 -o-transform: scale(1.2);
	 }
}
@-ms-keyframes imageAnimation3 
{ 
	0%
	 {
	    opacity: 0;
		-ms-transform: rotate(180deg);	
	    -ms-animation-timing-function: ease-in;
	 }
	8%
	 {
	    opacity: 1;
		-ms-transform: scale(1.2);
	    -ms-transform: rotate(360deg);	   
	 }
	17%
     {
	    opacity: 1;
		-ms-transform: rotate(-180deg);
	    -ms-transform: scale(1.2);
	 }
	 22%
     {
		opacity: 0;
		-ms-transform: rotateX (60deg);
		-ms-transform: scale(1.2);
	    -ms-animation-timing-function: ease-out;
	 }
	 25%
     {
	    opacity: 0;
		-ms-transform: rotateX(40deg);
	    -ms-transform: scale(1.2);
	 }
	 100%
	 {
		 opacity: 0; 
		-ms-transform: rotateX(0deg);
	 	-ms-transform: scale(1.2);
	 }
}
@keyframes imageAnimation3 
{ 
	0%
	 {
	    opacity: 0;
		transform: rotate(180deg);	
	    animation-timing-function: ease-in;
	 }
	8%
	 {
	    opacity: 1;
		transform: scale(1.2);
	    transform: rotate(360deg);	   
	}
	17%
    {
	    opacity: 1;
		transform: rotate(-180deg);
	    transform: scale(1.2);
	}
	22%
    {
		opacity: 0;
		transform: rotateX (60deg);
		transform: scale(1.2);
	    animation-timing-function: ease-out;
	}
	25%
    {
	    opacity: 0;
		transform: rotateX (40deg);
	    transform: scale(1.2);
	}
	100%
	{
		 opacity: 0; 
		 transform: rotateX (0deg);
		 transform: scale(1.2);
	}
}
@-webkit-keyframes imageAnimation4 
{ 
	0% 
	{
	    opacity: 0;
	    -webkit-animation-timing-function: ease-in-out;
	}
	8% 
	{
	    opacity: 1;
	    -webkit-transform: scale(1);
	    -webkit-animation-timing-function: ease-in-out
	}
	17% 
	{
	    opacity: 1;
	    -webkit-transform: scale(1.3);
	}
	22% 
	{
		opacity: 0;
		-webkit-transform: scale(1.03) translateY(-30%);
	}
	25% 
	{
	    opacity: 0;
	    -webkit-transform: scale(1.3)translateY(-100%);
	}
	100% 
	{ 
		opacity: 0 
	}
}
@-moz-keyframes imageAnimation4 
{ 
	0% 
	{
	    opacity: 0;
	    -moz-animation-timing-function: ease-in-out
	}
	8% 
	{
	    opacity: 1;
	    -moz-transform: scale(1);
	    -moz-animation-timing-function: ease-in-out;
	}
	17% 
	{
	    opacity: 1;
	    -moz-transform: scale(1.3);
	}
	22% 
	{
		opacity: 0;
		-moz-transform: scale(1.03) translateY(-30%);
	}
	25% 
	{
	    opacity: 0;
	    -moz-transform: scale(1.3)translateY(-100%);
	}
	100% 
	{ 
		opacity: 0 
	}
}
@-o-keyframes imageAnimation4 
{ 
	0% 
	{
	    opacity: 0;
	    -o-animation-timing-function: ease-in-out
	}
	8% 
	{
	    opacity: 1;
	    -o-transform: scale(1);
	    -o-animation-timing-function: ease-in-out
	}
	17% 
	{
	    opacity: 1;
	    -o-transform: scale(1.3);
	}
	22% 
	{
		opacity: 0;
		-o-transform:  scale(1.03) translateY(-30%);
	}
	25% 
	{
	    opacity: 0;
	    -o-transform: scale(1.3)translateY(-100%);
	}
	100% 
	{ 
		opacity: 0 
	}
}
@-ms-keyframes imageAnimation4
{ 
	0% 
	{
	    opacity: 0;
	    -ms-animation-timing-function: ease-in-out
	}
	8% 
	{
	    opacity: 1;
	    -ms-transform: scale(1);
	    -ms-animation-timing-function: ease-in-out
	}
	17% 
	{
	    opacity: 1;
	    -ms-transform: scale(1.3);
	}
	22% 
	{
		opacity: 0;
		-ms-transform:  scale(1.03) translateY(-30%);
	}
	25% 
	{
	    opacity: 0;
	    -ms-transform: scale(1.3)translateY(-100%);
	}
	100% 
	{ 
		opacity: 0 
	}
}
@keyframes imageAnimation4
{ 
0% 
	{
	    opacity: 0;
	    animation-timing-function: ease-in-out
	}
	8% 
	{
	    opacity: 1;
	    transform: scale(1);
	    animation-timing-function: ease-in-out
	}
	17% 
	{
	    opacity: 1;
	    transform: scale(1.3);
	}
	22% 
	{
		opacity: 0;
		transform:  scale(1.03) translateY(-30%);
	}
	25% 
	{
	    opacity: 0;
	    transform: scale(1.3)translateY(-100%);
	}
	100% 
	{ 
		opacity: 0 
	}
}
          /* End Image Animation #4*/

/* Animation for the text*/
 
@-webkit-keyframes titleAnimation 
{ 
    0% 
	{ 
		opacity: 0
		-webkit-transform: scale(1.3);
		text-shadow: 0px 0px 40px #FFF; 
	}
    8% 
	{ 
		opacity: 1; 
	}
    17% 
	{ 
		opacity: 1; 
	}
    19% 
	{ 
		opacity: 0; 
		-webkit-transform: scale(1.3);
		text-shadow: 0px 0px 10px #fff;
	}
    100% 
	{ 
		opacity: 0;
		-webkit-transform: scale(1);		
	}
}
@-moz-keyframes titleAnimation 
{ 
     0% 
	{ 
		opacity: 0
		-moz-transform: scale(1.3);
		text-shadow: 0px 0px 40px #fff; 		
	}
    8% 
	{ 
		opacity: 1; 
	}
    17% 
	{ 
		opacity: 1; 
	}
    19% 
	{ 
		opacity: 0; 
		-moz-transform: scale(1.3);
		text-shadow: 0px 0px 10px #fff;
	}
    100% 
	{ 
		opacity: 0;
		-moz-transform: scale(1);		
	}
}
@-o-keyframes titleAnimation 
{ 
     0% 
	{ 
		opacity: 0
		-o-transform: scale(1.3);
		text-shadow: 0px 0px 40px #fff; 
	}
    8% 
	{ 
		opacity: 1; 
	}
    17% 
	{ 
		opacity: 1; 
	}
    19% 
	{ 
		opacity: 0; 
		-o-transform: scale(1.3);
		text-shadow: 0px 0px 10px #fff;
	}
    100% 
	{ 
		opacity: 0;
		-o-transform: scale(1);		
	}
}
@-ms-keyframes titleAnimation 
{ 
     0% 
	{ 
		opacity: 0
		-ms-transform: scale(1.3);
		-ms-text-shadow: 0px 0px 40px #fff; 
	}
    8% 
	{ 
		opacity: 1; 
	}
    17% 
	{ 
		opacity: 1; 
	}
    19% 
	{ 
		opacity: 0; 
		-ms-transform: scale(1.3);
		-ms-text-shadow: 0px 0px 10px #fff;
	}
    100% 
	{ 
		opacity: 0;
		-ms-transform: scale(1);	
	}
}
@keyframes titleAnimation 
{ 
     0% 
	{ 
		opacity: 0
		transform: scale(1.3);
		text-shadow: 0px 0px 40px #fff; 
	}
    8% 
	{ 
		opacity: 1; 
	}
    17% 
	{ 
		opacity: 1; 
	}
    19% 
	{ 
		opacity: 0; 
		transform: scale(1.3);
		text-shadow: 0px 0px 10px #fff;
	}
    100% 
	{ 
		opacity: 0;
		transform: scale(1);		
	}
}
@-webkit-keyframes textAnimation 
{
    0% {
        opacity: 0;
        -webkit-transform: translateX(200px);
    }
    8% {
        opacity: 1;
        -webkit-transform: translateX(0px);
    }
    17% {
        opacity: 1;
        -webkit-transform: translateX(0px);
    }
    19% {
        opacity: 0;
        -webkit-transform: translateX(-300px);
    }
    25% 
	{ 	opacity: 0 
	}
    100% 
	{ opacity: 0 
	}
}
@-moz-keyframes textAnimation 
{
    0% {
        opacity: 0;
        -moz-transform: translateX(200px);
    }
    8% {
        opacity: 1;
        -moz-transform: translateX(0px);
    }
    17% {
        opacity: 1;
        -moz-transform: translateX(0px);
    }
    19% {
        opacity: 0;
        -moz-transform: translateX(-300px);
    }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@-o-keyframes textAnimation 
{
    0% {
        opacity: 0;
        -o-transform: translateX(200px);
    }
    8% {
        opacity: 1;
        -o-transform: translateX(0px);
    }
    17% {
        opacity: 1;
        -o-transform: translateX(0px);
    }
    19% {
        opacity: 0;
        -o-transform: translateX(-300px);
    }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@-ms-keyframes textAnimation 
{
    0% {
        opacity: 0;
        -ms-transform: translateX(200px);
    }
    8% {
        opacity: 1;
        -ms-transform: translateX(0px);
    }
    17% {
        opacity: 1;
        -ms-transform: translateX(0px);
    }
    19% {
        opacity: 0;
        -ms-transform: translateX(-300px);
    }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@keyframes textAnimation 
{
    0% {
        opacity: 0;
        transform: translateX(200px);
    }
    8% {
        opacity: 1;
        transform: translateX(0px);
    }
    17% {
        opacity: 1;
        transform: translateX(0px);
    }
    19% {
        opacity: 0;
        transform: translateX(-300px);
    }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

/* Show  something when animations not supported */

.no-cssanimations .slideshow li span
{
	opacity: 1;
}
@media screen and (max-width: 1140px) 
{ 
.slideshow li div h3 
{ 
	font-size: 140px 
}
}
@media screen and (max-width: 600px) 
{ 
.slideshow li div h3 
{ 
	font-size: 80px 
}
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table
{
	border-collapse: collapse;
	border-spacing: 0;
}
.slider-list
{
   list-style: none; 
}
