/* CSS Document */

/*************/
/*   body    */
/*************/
body
{
	margin 		: auto;
	padding 	: 0px;	
	font-family : Arial, Helvetica, sans-serif;	
	background: #EFEEEE;
	
}
.connection
{
	top 		: 100px;
	width 		: 50px;
	left		: 40px;
	height 		: 320px;
	position	: fixed;
}
.connection img
{
	float : left;
	max-width:100%;
}
/***********************/
/*   Main Container    */
/***********************/	
div#mainContainer
{	
	margin-bottom		: 20px;
	margin				: 0 auto;
	padding 			: 0px;
	padding-bottom		: 10px;
	width 				: 70%;
	min-height			: 550px;
	height				: 0 auto;
	background  		: #CCC;
	color				: #FFF;
	position			: relative;
}

/***************/
/*   Banner    */
/***************/
div#banner
{
	margin 			: 0px auto;
	padding 		: 0px;
	width 			: 100%;
	height 			: 150px;
	margin-bottom 	: 0px;	
	background		: #191919;
	color			: #000;	
}
#banner img
{
    width: 100%;
    height: 150px;
}




/***************/
/*   Nav Bar   */
/***************/
nav.conNav
{
	margin : 0 auto;
	width: 70%;
	height: 58px;
}

nav.mainNav
{
	margin 					: 0 auto;
	margin-top				: -10px;
	top						: 10px;	
	background				: -moz-linear-gradient(#999, #868686);
    background				: -ms-linear-gradient(#999, #868686);
    background				: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #999), color-stop(100%, #868686));
    background				: -webkit-linear-gradient(#999, #868686);
    background				: -o-linear-gradient(#999, #868686);
    background				: linear-gradient(#999, #868686);
	width					: 70%;			      
	position				: fixed ;
	z-index					: 10000;
}

.menu, .menu ul {
    list-style	: none;
    padding		: 0;
    margin		: 0px auto;
}
.menu {
    height: 58px;
}
.menu li {
    background	: -moz-linear-gradient(#999, #868686);
    background	: -ms-linear-gradient(#999, #868686);
    background	: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #999), color-stop(100%, #868686));
    background	: -webkit-linear-gradient(#999, #868686);
    background	: -o-linear-gradient(#999, #868686);
    background	: linear-gradient(#999, #868686);
    min-width	: 150px;
}
.menu > li {
    display: block;
    float: left;
    position: relative;
}

.menu a {
    border-left: 3px solid rgba(0, 0, 0, 0);
    color: #000;
    display: block;
    font-weight: bold;
    font-size: 15px;
    line-height: 54px;
    padding: 0 25px;
    text-decoration: none;
    text-transform: uppercase;
}

.menu li:hover > a {
    border-radius: 5px 0 0 0;
    border-left: 3px solid #C4302B;
    color: #C4302B;
}
/* submenu styles */
.submenu {
    left: 0;
    max-height: 0;
    position: absolute;
    top: 100%;
    
    z-index: 0;

    -webkit-perspective: 400px;
    -moz-perspective: 400px;
    -ms-perspective: 400px;
    -o-perspective: 400px;
    perspective: 400px;
}
.submenu li {
    opacity: 0;
    font-size: 10px;
    min-width	: 200px;

    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    transform: rotateY(90deg);

    -webkit-transition: opacity .4s, -webkit-transform .5s;
    -moz-transition: opacity .4s, -moz-transform .5s;
    -ms-transition: opacity .4s, -ms-transform .5s;
    -o-transition: opacity .4s, -o-transform .5s;
    transition: opacity .4s, transform .5s;
}
.menu .submenu li:hover a {
    border-left: 3px solid #C4302B;
    border-radius: 0;
    color: #ffffff;

}
.menu > li:hover .submenu, .menu > li:focus .submenu {
    max-height: 2000px;
    z-index: 10;
}
.menu > li:hover .submenu li, .menu > li:focus .submenu li {
    opacity: 1;

    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}
/* CSS3 delays for transition effects */
.menu li:hover .submenu li:nth-child(1) {
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}
.menu li:hover .submenu li:nth-child(2) {
    -webkit-transition-delay: 50ms;
    -moz-transition-delay: 50ms;
    -ms-transition-delay: 50ms;
    -o-transition-delay: 50ms;
    transition-delay: 50ms;
}
.menu li:hover .submenu li:nth-child(3) {
    -webkit-transition-delay: 100ms;
    -moz-transition-delay: 100ms;
    -ms-transition-delay: 100ms;
    -o-transition-delay: 100ms;
    transition-delay: 100ms;
}
.menu li:hover .submenu li:nth-child(4) {
    -webkit-transition-delay: 150ms;
    -moz-transition-delay: 150ms;
    -ms-transition-delay: 150ms;
    -o-transition-delay: 150ms;
    transition-delay: 150ms;
}
.menu li:hover .submenu li:nth-child(5) {
    -webkit-transition-delay: 200ms;
    -moz-transition-delay: 200ms;
    -ms-transition-delay: 200ms;
    -o-transition-delay: 200ms;
    transition-delay: 200ms;
}
.menu li:hover .submenu li:nth-child(6) {
    -webkit-transition-delay: 250ms;
    -moz-transition-delay: 250ms;
    -ms-transition-delay: 250ms;
    -o-transition-delay: 250ms;
    transition-delay: 250ms;
}
.menu li:hover .submenu li:nth-child(7) {
    -webkit-transition-delay: 300ms;
    -moz-transition-delay: 300ms;
    -ms-transition-delay: 300ms;
    -o-transition-delay: 300ms;
    transition-delay: 300ms;
}
.menu li:hover .submenu li:nth-child(8) {
    -webkit-transition-delay: 350ms;
    -moz-transition-delay: 350ms;
    -ms-transition-delay: 350ms;
    -o-transition-delay: 350ms;
    transition-delay: 350ms;
}

.submenu li:nth-child(1) {
    -webkit-transition-delay: 350ms;
    -moz-transition-delay: 350ms;
    -ms-transition-delay: 350ms;
    -o-transition-delay: 350ms;
    transition-delay: 350ms;
}
.submenu li:nth-child(2) {
    -webkit-transition-delay: 300ms;
    -moz-transition-delay: 300ms;
    -ms-transition-delay: 300ms;
    -o-transition-delay: 300ms;
    transition-delay: 300ms;
}
.submenu li:nth-child(3) {
    -webkit-transition-delay: 250ms;
    -moz-transition-delay: 250ms;
    -ms-transition-delay: 250ms;
    -o-transition-delay: 250ms;
    transition-delay: 250ms;
}
.submenu li:nth-child(4) {
    -webkit-transition-delay: 200ms;
    -moz-transition-delay: 200ms;
    -ms-transition-delay: 200ms;
    -o-transition-delay: 200ms;
    transition-delay: 200ms;
}
.submenu li:nth-child(5) {
    -webkit-transition-delay: 150ms;
    -moz-transition-delay: 150ms;
    -ms-transition-delay: 150ms;
    -o-transition-delay: 150ms;
    transition-delay: 150ms;
}
.submenu li:nth-child(6) {
    -webkit-transition-delay: 100ms;
    -moz-transition-delay: 100ms;
    -ms-transition-delay: 100ms;
    -o-transition-delay: 100ms;
    transition-delay: 100ms;
}
.submenu li:nth-child(7) {
    -webkit-transition-delay: 50ms;
    -moz-transition-delay: 50ms;
    -ms-transition-delay: 50ms;
    -o-transition-delay: 50ms;
    transition-delay: 50ms;
}
.submenu li:nth-child(8) {
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}



/***************/
/*   Footer    */
/***************/
#footer
{
	margin				: 0 auto;
	width				: 70%;
	padding 			: 0 auto;
	min-height			: 180px;
	height				: auto;
	background			: #818183; 
	padding-top 		: 20px;
	padding-bottom 		: 20px;
	font-size 			: 14px;	
	color 				: #FFF;
	-webkit-box-shadow  : inset 0 1px 3px rgba(0, 0, 0, 0.25), 0 5px 0 rgba(255, 255, 255, 0.25);
	-moz-box-shadow 	: inset 0 1px 3px rgba(0, 0, 0, 0.25), 0 5px 0 rgba(255, 255, 255, 0.25);
	-o-box-shadow 		: inset 0 1px 3px rgba(0, 0, 0, 0.25), 0 5px 0 rgba(255, 255, 255, 0.25);
	-ms-box-shadow 		: inset 0 1px 3px rgba(0, 0, 0, 0.25), 0 5px 0 rgba(255, 255, 255, 0.25);
	box-shadow 			: inset 0 1px 3px rgba(0, 0, 0, 0.25), 0 5px 0 rgba(255, 255, 255, 0.25);
}
#footer img
{
	width           : 30%;
	margin			: 10px auto;
    height          : 180px;
    display         : block; 
	float           : right; 
    position        : relative;

}
#footer a
{
	text-decoration : none;
	color: #FFF;
}

#footer li 
{
	padding-left 	: 20px;
	padding-right 	: 10px;
	list-style 		: none;
	text-align 		: left;
	text-decoration : none;

}

.footerNav
{
	margin 			: 0 auto;
	width 			: 150px;
	min-height 		: 50px;
	height			: 0 auto;
	border-right 	: 1px solid #FFF; 
	float 	  	 	: left;
}



#footer5
{
	line-height 	: 5px;
	color 			: #000;
	margin 			: 0 auto;
	background		: -moz-linear-gradient(#999, #868686);
    background		: -ms-linear-gradient(#999, #868686);
    background		: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #999), color-stop(100%, #868686));
    background		: -webkit-linear-gradient(#999, #868686);
    background		: -o-linear-gradient(#999, #868686);
    background		: linear-gradient(#999, #868686);
	height 			: 30px;
	width 			: 70%;
	border-top		: 1px solid #000;
}






































