/* CSS Document */

/*************/
/*   body    */
/*************/

body.theBigBangTheory
{
	background-image:url('../rteTheBigBangTheory/rteTheBigBangTheoryImages/bigBangBg.jpg');	
	font-family : Arial, Helvetica, sans-serif;
}




/***************/
/*   Nav Bar   */
/***************/


/*************************/
/*   Big Bang Content    */
/*************************/
div#mainContainerBigBang
{	
	
	font-family : Arial, Helvetica, sans-serif;
	margin-bottom		: auto;
	margin				: 0 auto;
	padding 			: 0px;
	width 				: 100%;
	min-height			: 550px;
	height				: 0 auto;
	color				: #FFF;
	border  			: 1px solid #CCC;
	position			: relative;
}
#contentContainer
{
		
	background		: #FFF;
	height			: 100%;
	width			: 100%;
	color			: #000;
	margin-top		: 0px;
	border-top		: 3px solid #FF4500;
	
}
#contentOne
{
	margin-top		: 30px;
	margin-left		: 50px;
	width 			: 50%;
	height 			: 40%;
	margin-bottom	: 70px;
	
}
#contentOneText
{
	margin-top		: -195px;
	margin-left		: 380px;
	width 			: 55%;
	height 			: 30%;
	margin-bottom	: 70px;
	
}
.bigBangContentImages
{
	width 			: 301px;
	height 			: 162px;
	border-style	: solid;
	border-width	: 2px;
	border-top-left-radius    : 25px;
	border-bottom-left-radius : 25px;
	-webkit-box-shadow 	: #666 10px 10px 15px;
    -moz-box-shadow    	: #666 10px 10px 15px;
    -ms-box-shadow    	: #666 10px 10px 315px;
    -o-box-shadow    	: #666 10px 10px 15px;
    box-shadow         	: #666 10px 10px 15px;
	-webkit-transition 	: 0.5s;
	-moz-transition 	: 0.5s;
	-ms-transition 		: 0.5s;
	-o-transition 		: 0.5s;
	transition 			: 0.5s;	
}
#contentOne img:hover
{
	-webkit-transform	:scale(1.2);
	-moz-transform		:scale(1.2);
	-ms-transform		:scale(1.2);
	-o-transform		:scale(1.2);
	transform			:scale(1.2);
}
.bigBangContentText
{
	width 			: 100%;
	height 			: 100%;
	background		: #FFF;
	padding-left	: 5px;
	padding-right	: 5px;
	border-top-right-radius    : 25px;
	border-bottom-right-radius : 25px;
	-webkit-box-shadow 	: #666 10px 10px 15px;
    -moz-box-shadow    	: #666 10px 10px 15px;
    -ms-box-shadow    	: #666 10px 10px 315px;
    -o-box-shadow    	: #666 10px 10px 15px;
    box-shadow         	: #666 10px 10px 15px;
 
}
#retro {
	color			: #000;
	font-size		: 22px;
	font-family		: Garamond, Baskerville, “Baskerville Old Face”, “Hoefler Text”, “Times New Roman”;
	letter-spacing	: 1px;
	text-align		: center;
	margin-top		: -15px;
	margin-bottom	: 10px;
	border-bottom	: 3px solid #FF4500;
	
}
#retro2  {
	color			: #000;
	font-size		: 18px;
	font-family		: Garamond, Baskerville, “Baskerville Old Face”, “Hoefler Text”, “Times New Roman”;
	letter-spacing	: 1px;
	text-align		: justify;
	margin-top		: auto;
	margin-bottom	: 5px;
	
}
#retro3 {
	color			: #000;
	font-size		: 16px;
	font-family		: Garamond, Baskerville, “Baskerville Old Face”, “Hoefler Text”, “Times New Roman”;
	letter-spacing	: 1px;
	text-align		: justify;
	margin-top		: auto;
	margin-bottom	: 5px;
	
}
#contentTwo
{
	margin-top		: 30px;
	margin-left		: 50px;
	width 			: 50%;
	height 			: 40%;
	margin-bottom	: 70px;
	
}
#contentTwoText
{
	margin-top		: -195px;
	margin-left		: 380px;
	width 			: 55%;
	height 			: 30%;
	margin-bottom	: 70px;
	
}
#contentTwo img:hover
{
	-webkit-transform	:scale(1.2);
	-moz-transform		:scale(1.2);
	-ms-transform		:scale(1.2);
	-o-transform		:scale(1.2);
	transform			:scale(1.2);
}
#contentThree
{
	margin-top		: 30px;
	margin-left		: 50px;
	width 			: 50%;
	height 			: 40%;
	margin-bottom	: 70px;
	
}
#contentThreeText
{
	margin-top		: -195px;
	margin-left		: 380px;
	width 			: 55%;
	height 			: 30%;
	margin-bottom	: 70px;
	
}
#contentThree img:hover
{
	-webkit-transform	:scale(1.2);
	-moz-transform		:scale(1.2);
	-ms-transform		:scale(1.2);
	-o-transform		:scale(1.2);
	transform			:scale(1.2);
}


div#bannerBig
{

	width 			: 100%;
	height 			: 50%;
	margin-bottom 	: 0px;
	background		: #000;
	color			: #FFF;	
}

/************************/
/*   Big Bang Slider    */
/************************/

/*slider frame*/
#sliderFrame 
{
    width:90%;
    padding:45px;
    background:#000;
} 

#slider, #slider div.sliderInner
 {
    width:700px;
	height:306px;/* Must be the same size as the slider images */
	
}

#slider
 {
	position:relative;
	margin:0 auto; /*center-aligned*/
    transform: translate3d(0,0,0);
	
}

/* the link style (if an image is wrapped in a link) */
#slider a.imgLink, #slider .video
 {
	z-index:2;
	position:absolute;
	top:0px;
	left:0px;
	border:0;
	padding:0;
	margin:0;
	width:100%;
	height:100%;
	
}


/* Caption styles */
#slider div.mc-caption-bg, #slider div.mc-caption-bg2
 {
	position:absolute;
	width:100%;
	height:auto;
	padding:10px 0;
	left: 100px; /*if the caption needs to be aligned from right, specify by right instead of left. i.e. right:20px;*/
	bottom: -40px;/*if the caption needs to be aligned from top, specify by top instead of bottom. i.e. top:150px;*/
	z-index:3;
	overflow:hidden;
	font-size:0;
}
#slider div.mc-caption-bg 
{
    /* NOTE: Its opacity, when background is not transparent, is to be set through the sliderOptions.captionOpacity setting in the js-image-slider.js file.*/
	background:transparent;/* or any other colors such as White, or: background:none; */
}
#slider div.mc-caption-bg2
 {
    background:none;
}
#slider div.mc-caption
{
	font:bold 13px/16px Arial;
	color:#ccc;
	z-index:4;
	text-align:center;
    background:none;
}
#slider div.mc-caption a
{ 
	color:#66FFFF;
}


/* ------ built-in navigation bullets wrapper that is relative to the #slider ------*/
#slider div.navBulletsWrapper
{
	display:none;
}

/* --------- Others ------- */

#slider div.loading 
{
    width:100%;
	height:100%;
    background:transparent url(loading.gif) no-repeat 50% 50%;
    filter: alpha(opacity=60);
    opacity:0.6;
    position:absolute;
    left:0;
    top:0; 
    z-index:9;
}

#slider img, #slider>b, #slider a>b {
	position:absolute;
	border:none; 
	display:none;
}

#slider div.sliderInner {
	overflow:hidden; 
	-webkit-transform: rotate(0.000001deg);/* fixed the Chrome not crop border-radius bug*/
	position:absolute;
	top:0; 
	left:0;
}

#slider>a, #slider video, #slider audio {display:none;}


/* -- thumbnails -- */
#thumbs 
{
    margin-top:50px;
    text-align:center;
    font-size:0;
}
#thumbs .thumb 
{
	display:inline-block;
    *display:inline;zoom:1;/*IE6, IE7 hack*/
    margin:0 1px;/*this determins the distance between each thumbnail*/
    border:1px solid #333;
    padding:4px;
    background:black;
}

#thumbs .thumb img
{
	border:1px solid #555;
	cursor:pointer;
	width:70px;
	height:44px;
	opacity:0.5;
	filter:alpha(opacity=50);
}
#thumbs .thumb-on img
{
	border:1px solid #999;
	opacity:1;
	filter:alpha(opacity=100);
}