/* CSS Document */

/*************/
/*   body    */
/*************/
#containerMon
{
    margin              : 0 auto;
    padding             : 0px;
    width               : 100%;
    min-height          : 550px;
    height              : 0 auto;
    position            : absolute;
}


#dayBar
{
    margin :  auto;
    height : 100px;
    width  : 100%;
    position: relative;


}
.dayBar ul
{
    float: left;
    position: absolute;    
    text-decoration: none;
}
.dayBar li h1{
    font-family: times, Times New Roman, times-roman, georgia, serif;
        font-size: 28px;
        line-height: 40px;
        letter-spacing: -1px;color: #444;

}
.dayBar li{
    width: 12%;
    height: 100px;
	padding-left: 5px;
    overflow: hidden;
    display:  block;
    background: #fff;
    border-left: 10px solid #000;
    float: left;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
	position : relative;
}
.dayBar li:last-child{
    margin-bottom: 0px;
}

.dayBar li a{
    text-align: left;
    display: block;
    width: 100%;
    height: 100%;
    color: #3D75F7;
    text-decoration: none;
    position:relative;
}
.dayBar li:hover{
    border-color: #3D75F7;
    background: #000;
}
.dayBarMain{
    font-size: 30px;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    o-transition: all 300ms ease-in-out;
    transition: all 300ms linear;
}
.dayBarSub{
    font-size: 8px;
    color: #666;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    o-transition: all 300ms ease-in-out;
    transition: all 300ms linear;
}
.dayBar li:hover{
    border-color: #3D75F7;
    background: #000;
}

.dayBar li:hover .dayBarMain{
    color: #fff004;
    font-size: 8px;
}
.dayBar li:hover .dayBarSub{
    color: #fff;
    font-size: 30px;
}

#sideBar
{
    margin-top          : 20px;
    margin-bottom       : 10px; 
    margin-left         : 20px;     
    position            : absolute;
    min-height          : 540px;
    height              : 0 auto;
    width               : 100px;
    background-color    : #FFF;
    font-family         : times, Times New Roman, times-roman, georgia, serif;
    font-size           : 28px;
    line-height         : 40px;
    letter-spacing      : -1px;
    color               : #3D75F7;    
    font-weight         : 100%;
}

#sideBar li
{
	list-style : none;
    text-align  : center;  
    margin-top: 45px;
    width: 100%;
    height: 170px;
    overflow: hidden;
    background: #fff;
    position : relative;
}


div#showsContainer
{   
    margin-bottom       : 20px;
    left                : 60px;
    margin              : 0 auto;
    padding             : 10px auto;
    width               : 80%;
    min-height          : 550px;
    height              : 0 auto;
    color               : #FFF;
    position            : relative;
   
}



.showsContent
{
    margin-top      : 20px;
	margin-bottom	: 20px;
    padding-left    : 10px;
	padding-right	: 10px;
    width           : 90%;
    min-height      : 200px;
    height          : 0 auto;
    margin-bottom   : 0px;  
	background-color : #FFF;
    color           : #000; 
    position        : relative;
     -webkit-transition  : 0.7s;
    -moz-transition     : 0.7s;
    -ms-transition      : 0.7s;
    -o-transition       : 0.7s;
    transition          : 0.7s; 
     
}

.showsContent  h3
{    

	    padding: 0px;
        font-size: 22px;
        line-height: 9px;
        letter-spacing: -1px;
        color: #3D75F7;
        font-weight: 100%
}

.showsContent p 
{    

        font-size: 15px;
        line-height: 15px;
        letter-spacing: -1px;
        color: #000;
        font-weight: 100%
}

.show
{
    height: 100%;
    width :44%;
	top : -0.5px;
    margin : 1px auto;
    margin-left: 10px;
    float        : left; 

}
.showFront 
{    
    position: absolute;
    height: 100%;
    width :300px;    
    margin-left: 10px;
}

.showFront img
{
    z-index: 1;
    position: absolute;
    height: 100%;
    width :100%;
}


.showInfo
{
    position : absolute;    
    margin-left: 10px;
    height: 50%;
    top: 50%;
    width :300px;  
    z-index: 0;
    background:rgba(255,255,255,0.7);
}

.show:hover .showInfo
{
    z-index: 2;
}
